@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
.download {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.download button {
  max-width: 40rem;
  padding: 1rem 3rem;
  margin: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 10rem;
  cursor: pointer;
}

.download button:hover {
  opacity: 0.7;
}

@media screen and (max-width: 450px) {
  .download button {
    width: 90%;
  }
}

.download__ios {
  background-color: #26baa4;
  -webkit-box-shadow: 0 0.2rem 0.1rem 0rem #1d907f, 0 0.5rem 2rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.2rem 0.1rem 0rem #1d907f, 0 0.5rem 2rem rgba(0, 0, 0, 0.15);
}

.download__mac {
  background-color: #6173ff;
  -webkit-box-shadow: 0 0.2rem 0.1rem 0rem #2e46ff, 0 0.5rem 2rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.2rem 0.1rem 0rem #2e46ff, 0 0.5rem 2rem rgba(0, 0, 0, 0.15);
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1080px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header {
  padding: 1rem;
  margin-bottom: 6rem;
  margin-top: 4rem;
}

.header__logo {
  margin-bottom: 3rem;
}

.header__title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.header__text {
  font-size: 1rem;
  color: #9fabb2;
  margin-bottom: 3rem;
}

.keep {
  padding: 1rem;
  margin-bottom: 6rem;
}

.keep__hero-image {
  margin: 2rem auto;
}

.keep__hero-image img {
  display: block;
  height: auto;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.keep__title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.keep__text {
  font-size: 1rem;
  color: #9fabb2;
  margin-bottom: 3rem;
}

.keep__name {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.keep__description {
  font-size: 1rem;
  color: #9fabb2;
  margin-bottom: 2rem;
}

.access {
  padding: 1rem;
  margin-bottom: 6rem;
}

.access__hero-image {
  margin: 2rem auto;
}

.access__hero-image img {
  display: block;
  height: auto;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.access__title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.access__text {
  font-size: 1rem;
  color: #9fabb2;
  margin-bottom: 3rem;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  margin-bottom: 6rem;
}

.clients__client {
  margin: 3rem auto;
}

.clients__client img {
  display: block;
  height: 100%;
  width: auto;
}

.workflow {
  padding: 1rem;
  margin-bottom: 6rem;
}

.workflow__icon {
  margin: 3rem auto;
}

.workflow__icon img {
  display: block;
  margin: 0 auto;
  width: auto;
  height: auto;
}

.workflow__title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.workflow__text {
  font-size: 1rem;
  color: #9fabb2;
  margin-bottom: 3rem;
}

.workflow__name {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.workflow__description {
  font-size: 1rem;
  color: #9fabb2;
  margin-bottom: 2rem;
}

.clipboard {
  padding: 1rem;
  margin-bottom: 6rem;
}

.clipboard__title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.clipboard__text {
  font-size: 1rem;
  color: #9fabb2;
  margin-bottom: 3rem;
}

.footer {
  width: 100%;
  background-color: whitesmoke;
  color: gray;
  padding: 1rem;
}

.footer__logo {
  margin: 4rem;
}

.footer__logo img {
  display: block;
  width: 4rem;
  height: auto;
  margin: auto;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}

.footer__links a {
  font-size: 1rem;
  text-decoration: none;
  margin: 1rem auto;
}

.footer__links a:hover {
  text-decoration: underline;
}

.footer__social {
  text-align: center;
  margin: 3rem auto;
}

.footer__social a {
  margin: 1rem;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../images/bg-header-mobile.png");
  background-repeat: no-repeat;
  background-position: top left;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #4c545d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh;
}
/*# sourceMappingURL=main.css.map */