@import "./abstracts/typography";
@import "./abstracts/variables";
@import "./abstracts/mixins";

@import "./components/download";

@import "./layout/container";
@import "./layout/header";
@import "./layout/keep";
@import "./layout/access";
@import "./layout/clients";
@import "./layout/workflow";
@import "./layout/clipboard";
@import "./layout/footer";

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../images/bg-header-mobile.png");
  background-repeat: no-repeat;
  background-position: top left;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: $dark-grey-blue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
