.header {
  max-width: $max-width;
  padding: $section-padding;
  margin-bottom: $bottom-gutter;
  margin-top: 4rem;
  &__logo {
    margin-bottom: 3rem;
  }
  @include titleWithText;
  @include desktopTitleWithText;
}
