.workflow {
  padding: $section-padding;
  margin-bottom: $bottom-gutter;
  &__icon {
    margin: 3rem auto;
    img {
      display: block;
      margin: 0 auto;
      width: auto;
      height: 2.5rem;
    }
  }
  @include titleWithText;
  @include desktopTitleWithText;
  @include nameWithDescription;
  @media screen and (min-width: 800px) {
    &__main {
      max-width: 1280px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
    &__feature {
      width: 30%;
    }
  }
}
