.workflow {
  padding: $section-padding;
  margin-bottom: $bottom-gutter;
  &__icon {
    margin: 3rem auto;
    img {
      display: block;
      margin: 0 auto;
      width: auto;
      height: auto;
    }
  }
  @include titleWithText;
  @include nameWithDescription;
}
