$primary-cyan: hsl(171, 66%, 44%);
$primary-blue: hsl(233, 100%, 69%);

$dark-grey-blue: hsl(210, 10%, 33%);
$grey-blue: hsl(201, 11%, 66%);

$bottom-gutter: 6rem;
$section-padding: 1rem;

$max-width: 960px;
